<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <sessionState mode="InProc" timeout="30" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  
    <connectionStrings>
      <add name="ConnString" connectionString="Data Source=localhost;Initial Catalog=NWBA;User ID=sa;Password=password" providerName="System.Data.SqlClient" />
    </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
    <add key="MinBalanceSavings" value="0.00" />
    <add key="MinBalanceCheque" value="200.00" />
    <add key="MinOpeningBalanceSavings" value="100.00" />
    <add key="MinOpeningBalanceCheque" value="500.00" />
    <add key="Fee_TransactionHistory" value="0.20" />
    <add key="Fee_FundsTransfer" value="0.20" />
    <add key="Fee_BPAY" value="0.30" />
    <add key="Fee_ATMTransaction" value="0.20" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4" newVersion="2.1.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
