body {
}

#left{
    float: left;
    width: 50%;
}

#right{
    float: left;
    width: 50%;

}

#login-centre{
    margin: 0 auto;
    background-color: lightgray;
    width: 1080px;
    height: 600px;
    padding: 10px 5px 8px 12px;
    border-radius: 6px;
}

#loginheader{
    margin: 0 auto;
    width: 1080px;
}

.content-block{
    padding: 10px 5px 5px 20px;
    font-size: 75%;
}

.content-block ul{
    list-style-type: square;
    list-style-position: inside;
}
